traitlets>=4
tornado>=4.1
jinja2
pamela
sqlalchemy>=1.0
requests
escapism
docker-py
PyGithub
git+https://github.com/cwaldbieser/jhub_remote_user_authenticator.git#egg=remote-user
git+https://github.com/jupyterhub/dockerspawner.git#egg=dockerspawner
