{% extends "page.html" %}

{% block main %}

<div class="container">
    {% if messages %}
    <div class="row">
        <div class="{{message_class}}">
            <strong>{% if successful %}Success{% else%}Error{% endif %}</strong>
            <ul>
              {% for message in messages %}
                  <li>{{message}}</li>
              {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <h3>Upload a dataset</h3>
        <p>You can contribute to Edinburgh CityScope by uploading your own dataset.
            At the moment we accept csv files up to a maximum of 50mb</p>
        <form enctype="multipart/form-data" action="{{base_url}}add-dataset" method="post">
            <div class="form-group {{form_class}}"  id="fileUploadDiv">
			        <label class="control-label" for="filearg">Select a file</label>
			        <input type="file" accept=".csv,text/plain" name="filearg" id="fileInput"/>
                    <span id="errorBlock" class="help-block">
                        {% if error_message %}
                            <ul>
                              {% for errMsg in error_message %}
                                  <li>{{errMsg}}</li>
                              {% endfor %}
                            </ul>
                        {% endif %}
                    </span>
            </div>
            <a href="{{base_url}}home" class="btn btn-default" role="button">Cancel</a>
            <input type="submit" class="btn btn-primary" id="DataUploadSubmit" value="upload dataset" />
        </form>
    </div>


    {% if datasets %}
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div>
            <h4>Local Datasets - already uploaded</h4>
            <form id="dataset-form">
            <table id="github-repositories" class="table">
                <thead>
                    <tr>
                        <th>Dataset name</th>
                        <th>Delete</th>
                        <th>Date</th>
                        <th>Use data</th>
                        <th>Publish<th>
                    </tr>
                </thead>
                <tbody>
                {% for dataset in datasets %}
                    <tr>
                        <td>{{dataset['file_name']}}</td>
                        <td><a target="_blank" href="#file={{dataset['file_id']}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                        <td>{{dataset['last_modified']}}</td>
                        <td><input name="" value="" type="checkbox"></td>
                        <td><input type="button" class="btn btn-primary" id="PublishDatasetButton" alt="Publish this as an OpenData repository on GitHub" value="Publish" /></td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
            </form>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
require(["dataupload"]);
</script>
{% endblock %}
